.layout{
    --bottom-nav-height: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: var(--bottom-nav-height);

    .layout-content{
        flex: 1;
        min-height: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }

}
